{var $robots = noindex}
{block content}

<div style="float:left;">
	<h2>Registrace</h2>
	{control registerForm}
</div>

<div style="float:left;margin:100px 75px">
	<img src="{$basePath}/images/safe.png" alt="registration" />
</div>

{/block}