{**	
 * DodaciUdaje template.
 *
 * @copyright  Copyright (c) 2012 Martin Zlámal
 *
 * @param string   /
 *}

{block content}

<div><a n:href="Basket:">Obsah košíku</a> > <a n:href="Basket:dopravaPlatba">Doprava a platba</a> > <b>Dodací údaje</b> > Poslední kontrola</div>

<a n:href="Basket:posledniKontrola">Další krok objednávky ></a>

<p class="error">Zde vyplnění adresy.</p>

{/block}