{**	
 * DopravaPlatba template.
 *
 * @copyright  Copyright (c) 2012 Martin Zlámal
 *
 * @param string   /
 *}

{block content}

<div><a n:href="Basket:">Obsah košíku</a> > <b>Doprava a platba</b> > Dodací údaje > Poslední kontrola</div>

<a n:href="Basket:dodaciUdaje">Další krok objednávky ></a>

<p class="error">Zde informace o dopravě a platbě.</p>

{/block}