{**	
 * PosledniKontrola template.
 *
 * @copyright  Copyright (c) 2012 Martin Zlámal
 *
 * @param string   /
 *}

{block content}

<div><a n:href="Basket:">Obsah košíku</a> > <a n:href="Basket:dopravaPlatba">Doprava a platba</a> > <a n:href="Basket:dodaciUdaje">Dodací údaje</a> > <b>Poslední kontrola</b></div>

<a href="error:">Objednat!</a>

<p class="error">Zde Souhrná kontrola a odeslání.</p>

{/block}