{**	
 * Category template.
 *
 * @copyright  Copyright (c) 2012 Martin Zlámal
 *
 * @param string   $category - current category
 *}

{block content}

<div id="podcat">
Podkategorie:
<ul>
	<li>podkategorie</li>
	<li>podkategorie</li>
	<li>podkategorie</li>
	<li>podkategorie</li>
	<li>podkategorie</li>
</ul>
</div>

<div id="podcatVypis">
Výpis položek podkategorie {$category}.
</div>

{/block}